# Virtual Environment Python Ignore
lib/
bin/
.env
venv/

# Remove credentials from repo because twilio auto detects it some how
src/credentials/config.py

# Get this fucking Mac Dir out of here
.DS_Store
